.List {
    &__main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;
    }

    &__item {
        border: 4px solid;
        border-radius: 50px;
    }
    
    &__lists {
        max-width: 700px;

        &__items {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 10px 0;

            & > p {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &__ListFrame {
        margin: 10px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
