.List {
    &__main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__item {
        border: 4px solid;
        border-radius: 50px;
    }
    
    &__hashlist {
        width: 700px;

        &__items {
            margin: 10px 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
    
            & > p {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
