@import '../../../assets/styles/variables.scss';

.button {
    background-color: white;
    cursor: pointer;
    border: 3px solid;
    border-radius: 10px;
    height: 35px;
    padding: 0 15px;
    font-size: 16px;
    font-family: 'InterMedium', Courier, monospace;
}

.button:hover {
    background-color: black;
    color: white;
    border: 3px solid black;
}

.button:active {
    background-color: $hover-color;
    color: white;
    border: 3px solid black;
}