
.ImportHashList {
    &__cardBody{
        background-color: white;
        border: 4px solid;
        border-radius: 50px;
        width: 800px;
        height: auto;
        place-content: center;
        justify-content: center;
    }

    &__formBody {
        width: 80%;
        margin: 50px 9%;
    }

    &__button {
        height: 40px;
    }

    &__submit {
        margin-top: 25px;
        height: 30px;
        float: right;
    }

    &__importError {
        margin: 0;
        padding: 0;
        font-size: 20px;
        color: red;
    }
}