@import '../../assets/styles/variables.scss';

.inputs {
    border: 3px solid;
    border-radius: 10px;
    height: 25px;
    font-size: 16px;
    padding-left: 8px;
    font-family: 'InterMedium';
}

.inputName {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

.labelsTitles {
    font-family: InterMedium;
    font-size: 20px;
}

.inputRadio { 
    margin-top: 5px;
    margin-right: 5px;
}

.divCheckbox {
    margin-top: 10px;
    max-height: 170px;
    max-width: 100%;
    overflow-y: scroll;
    padding-left: 10px;
    padding-top: 5px;
}

.divRadio {
    margin: 5px 0;
    padding: 5px;
    overflow-y: scroll;
    max-height: 120;
    max-width: 100%;
    display: grid;
}

.templateInputCheckbox { 
    margin-top: 5px;
    margin-right: 5px;
}

.inputCheckbox {
    appearance: none;
    background-color: white;
    margin: 0;
    font: inherit;
    color: $hover-color;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid black;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    
}

.inputCheckbox::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 180ms transform ease-in-out;
    box-shadow: inset 1em 1em $hover-color;
}

.inputCheckbox:checked::before {
    transform: scale(1);
    transform-origin: bottom left;
    background-color: $hover-color;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.smallInputCheckbox {
    appearance: none;
    background-color: white;
    margin: 0;
    font: inherit;
    color: $hover-color;
    width: 1em;
    height: 1em;
    border: 0.15em solid black;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    
}

.smallInputCheckbox::before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    transform: scale(0);
    transition: 180ms transform ease-in-out;
    box-shadow: inset 1em 1em $hover-color;
}

.smallInputCheckbox:checked::before {
    transform: scale(1);
    transform-origin: bottom left;
    background-color: $hover-color;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.flexBox {
    display: flex;
}

.marginRight5 {
    margin-right: 5px;
}
.marginTop2 {
    margin-top: 2px;
}

.importHashlist {
    margin-top: -5px;
    margin-left: 33px;
}

.isError { 
    display: grid;
    color: red;
    font-size: 15px;
    font-family: 'InterMedium', Courier, monospace;
}

.smallTxt {
    font-size: 15px;
}

.labelRadioControl {
    line-height: 1.1;
    display: flex;
    gap: 0.5em;
    margin-top: 1em;
}

.labelRadioControl:focus-within, .labelRadioControl:hover {
    color: $hover-color;
}

input[type="radio"]:hover {
    border: 0.15em solid $hover-color;
}

input[type="radio"]:checked:hover {
    border: 0.15em solid black;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    font: inherit;
    color: $hover-color;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid black;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}
  
input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em $hover-color;
}
  
input[type="radio"]:checked::before {
    transform: scale(1);
}
  
input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid $hover-color;
    outline-offset: max(2px, 0.15em);
}