.inputs {
    border: 3px solid;
    border-radius: 10px;
    height: 25px;
    font-size: 16px;
    padding-left: 8px;
    font-family: 'InterMedium';
}

.inputName {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

.noMarginBottom {
    margin-bottom: 0px;
}

.labelsTitles {
    font-family: InterMedium;
    font-size: 20px;
}