@import '../../assets/styles/main.scss';
@import '../../assets/styles/variables.scss';

.Navbar {
    font-family: InterBold;
}

.pages:hover{
    color: $hover-color;
}


.links{
    color: $text-color;
    text-decoration: none;
}
.mainStyle {
    height: 60px;
    margin: 20px 60px;
    font-size: 24px;
    display: flex;
    justify-content: space-between
};
.leftBlock {
    display: flex;
    
};

.logoStyle {
    width: 50px;
};

.hashKitty {
    height: 50px;
    margin-left: 15px
};

.hashKittyText {
    padding-top: 17px;
    margin: 0;
};

.rightBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
    margin-right: 10px;
};
