@import './variables.scss';

@mixin theme($dark_theme: false){
    @if $dark_theme {
        background-color: darken($primary-color, 100%);
        color: lighten($text-color, 100%)
    } @else {
        background-color: $primary-color;
        color: $text-color;
    }
}
@font-face {
    font-family: "InterBlack";
    src: local("InterBlack"),
        url("../fonts/Inter-Black.ttf") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "InterBold";
    src: local("InterBold"),
        url("../fonts/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "InterMedium";
    src: local("InterMedium"),
        url("../fonts/Inter-Medium.ttf") format("truetype");
    font-weight: 500;
}

.mainHover:hover{
    color: $hover-color;
}

.moreDetails {
    cursor: pointer;
    color: $hover-color;
}

.cardHover:hover {
    box-shadow: '0px 15px 5px 0px #FC6F6F';
    color: $hover-color
}
