
.divGridSplit {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cardBody {
    background-color: white;
    position: absolute;
    top: 10%;
    left: 27.5%;
    width: 800px;
    border: 4px solid;
    border-radius: 50px;
}

.contentBody {
    margin: 5% 7.5%;
    height: 80%;
    width: 90%;
}

.title {
    font-family: InterBold;
    font-size: 24px;
}

.formBody {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    height: 0px;
}

.mandatoryBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.submitInputCreateTask {
    padding: 0px 10px;
    position: absolute;
    bottom: 50px;
    right: 10%;
}

.advancedConfigs {
    display: grid;
    grid-template-columns: minmax(auto, 10%) auto;
    width: 160px;
    margin-top: 20px;
}

.advancedConfigsImg {
    width: 10px;
    height: 10px;
    margin-top: 20px;
    margin-right: 5px;
}

.advancedConfigsTxt {
    font-size: 16px;
    font-family: 'InterMedium';
}

.advancedConfigsDivMain {
    display: grid;
    grid-template-columns: minmax(auto, 50%) auto;
    height: max-content;
    width: 100%;
}