.importHashlist {
    border: 3px solid;
    border-radius: 10px;
    height: 25px;
    width: 90px;
    font-family: 'InterMedium';
}

.divGridSplit {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.inputs {
    border: 3px solid;
    border-radius: 10px;
    height: 25px;
    font-size: 16px;
    font-family: 'InterMedium';
}

.inputName {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}


.cardBody {
    background-color: white;
    position: absolute;
    top: 10%;
    left: 27.5%;
    width: 800px;
    border: 2px solid;
    border-radius: 50px;
}

.contentBody {
    margin: 5% 7.5%;
    height: 80%;
    width: 90%;
}

.title {
    font-family: InterBold;
    font-size: 24px;
}

.formBody {
    font-family: InterMedium;
    font-size: 20px;
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    height: 0px;
}

.mandatoryBody {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
}

.labels {
    margin-bottom: 0px;
}

.submitInput {
    padding: 0px 10px;
    height: 30px;
    position: absolute;
    bottom: 50px;
    right: 10%;
}

.divCheckbox {
    margin-top: 10px;
    max-height: 180;
    max-width: 100%;
    display: grid;
}

.divRadio {
    margin-top: 5;
    overflow-y: scroll;
    max-height: 120;
    max-width: 100%;
    display: grid;
}

.advancedConfigs {
    display: grid;
    grid-template-columns: minmax(auto, 10%) auto;
    width: 160px;
    margin-top: 20px;
}

.advancedConfigsImg {
    width: 10px;
    height: 10px;
    margin-top: 20px;
    margin-right: 5px;
}

.advancedConfigsTxt {
    font-size: 16px;
    font-family: 'InterMedium';
}

.inputCheckboxes { 
    margin-top: 5px;
    margin-right: 5px
}

.advancedConfigsDivMain {
    display: grid;
    grid-template-columns: minmax(auto, 50%) auto;
    height: max-content;
    width: 100%;
}

.hideBlock { 
    visibility: hidden;
}

.isError { 
    display: grid;
    color: red;
}

.noMargin {
    margin: 0px;
}

.templateInputCheckbox { 
    margin-top: 5px;
    margin-right: 5px;
}

.inputCheckbox { 
    width: 20px;
    height: 20px;
}
