.createTemplateBody {
    background-color: white;
    position: absolute;
    top: 10%;
    left: 27.5%;
    width: 800px;
    border: 4px solid;
    border-radius: 50px;
}

.createTemplateContentBody {
    margin: 5% 7.5%;
    height: 80%;
    width: 90%;
}
