.createTemplateBody {
    background-color: white;
    position: absolute;
    top: 10%;
    left: 27.5%;
    width: 800px;
    border: 4px solid;
    border-radius: 50px;
}

.createTemplateContentBody {
    margin: 5% 7.5%;
    height: 80%;
}

.CarouselBody {
    display: flex;
    // margin-top: 30px;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    width: 100%;
    max-width: 100vw;
    height: 480px;
}

.nameDivInput {
    align-items: center;
}

.test {
    background-color: red;
    height: 500px;
    width: 400px;
}

.sectionTemplate{
    display: grid;
    width: 100%;
    height: 500px;
    flex-shrink: 0;
    scroll-snap-align: start;
}
